// color system
$white: #ffffff;
$black: #000000;
$grey: #cccccc;
$light-grey: #f7f7f7;
$light-grey2: #f9f9f9;
$light-grey-text: #7f7f7f;
$dark-grey: #5d5d5d;
$red: #E3211F;
$yellow: #ede56d;
$orange: #ed7a06;


