// color system
$white: #ffffff;
$black: #000000;
$black2: #030303;
$grey: #cccccc;
$light-grey: #f7f7f7;
$light-grey2: #f9f9f9;
$light-grey-text: #7f7f7f;
$dark-grey: #5d5d5d;
$red: #E3211F;
$yellow: #FFD600;
$grey-shadow: rgba(213, 171, 168, 0.25);
$slick-rgba: rgba(255, 214, 214, 0.75);
$title-red: #E82C2A;
$border-black: #DBDBDB;

